<p style="text-align: center;background-color:gainsboro; color: black; font-size:large;"><b>Employ</b></p>
<body>
  <p *ngIf="!employees"><em>Loading....</em></p>
  <p><em>{{employees.length}}</em></p>
  <button (click)="getEmployeesFromServer()">Refresh Employees</button>

  <table align="center" *ngIf="employees">

    <thead>
      <tr>
        <th>EmployeeId</th>
        <th>EmployeeName</th>
        <th>EmployeeCountry</th>
        <th>PositioCode</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let emp of employees;">
        <tr>
          <td>{{emp.employeeId}}</td>
          <td>{{emp.employeeName}}</td>
          <td>{{emp.employeeLocation}}</td>
          <td>{{emp.positionCode}}</td>
          <td><button (click)="deleteEmployee(emp)">Delete employee{{emp.employeeId}}</button></td>

        </tr>
      </ng-container>
      <tr *ngIf="!employees">
        <td colspan="5">
          Loading Data please wait....
        </td>
      </tr>
      <tr *ngIf="employees.length==0">
        <td colspan="5">
          No Data Found
        </td>
      </tr>
    </tbody>
  </table>

</body>

